
########################
    node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
docData

node_modules

npm-debug.log

rethinkdb_data
dbs


########################
    misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
hadasino-server
recycle-bin

#######
 Plato
#######
plato-out


