.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.967773;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{display:inline;margin-left:-3.089534px;}
._1{display:inline;margin-left:-1.078128px;}
._0{display:inline-block;width:1.718746px;}
._2{display:inline-block;width:737.640624px;}
._5{display:inline-block;width:1307.761476px;}
._3{display:inline-block;width:1326.828198px;}
.fc1{color:rgb(0,0,238);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.000000px;}
.fs1{font-size:51.257600px;}
.fs2{font-size:60.868400px;}
.y0{bottom:0.000000px;}
.y50{bottom:4.348800px;}
.yce{bottom:7.364400px;}
.y6a{bottom:10.724700px;}
.ya8{bottom:13.865600px;}
.y2{bottom:17.000000px;}
.y4f{bottom:20.366800px;}
.y27{bottom:21.999900px;}
.ycd{bottom:23.382400px;}
.y69{bottom:26.742700px;}
.y3{bottom:29.000000px;}
.ya7{bottom:29.883600px;}
.yd6{bottom:32.962000px;}
.y4e{bottom:36.384800px;}
.y26{bottom:38.017900px;}
.ycc{bottom:39.400400px;}
.y68{bottom:42.760700px;}
.ya6{bottom:45.901600px;}
.yd5{bottom:48.980000px;}
.y86{bottom:52.340100px;}
.y25{bottom:54.035900px;}
.ycb{bottom:55.418400px;}
.y67{bottom:58.778700px;}
.ya5{bottom:61.919600px;}
.y4d{bottom:65.217200px;}
.y85{bottom:68.358100px;}
.y24{bottom:70.053900px;}
.yca{bottom:71.436400px;}
.y66{bottom:74.796700px;}
.ye1{bottom:77.718100px;}
.y4c{bottom:81.235200px;}
.y84{bottom:84.376100px;}
.y23{bottom:86.071900px;}
.yc9{bottom:87.454400px;}
.ya4{bottom:90.752000px;}
.ye0{bottom:93.736100px;}
.y4b{bottom:97.253200px;}
.y83{bottom:100.394100px;}
.y22{bottom:102.089900px;}
.y65{bottom:103.629100px;}
.ya3{bottom:106.770000px;}
.ydf{bottom:109.754100px;}
.y4a{bottom:113.271200px;}
.y82{bottom:116.412100px;}
.y64{bottom:119.647100px;}
.ya2{bottom:122.788000px;}
.yd4{bottom:125.866400px;}
.y49{bottom:129.289200px;}
.y21{bottom:130.922300px;}
.y81{bottom:132.430100px;}
.y63{bottom:135.665100px;}
.ya1{bottom:138.806000px;}
.yd3{bottom:141.884400px;}
.y48{bottom:145.307200px;}
.yd7{bottom:148.260300px;}
.y62{bottom:151.683100px;}
.ya0{bottom:154.824000px;}
.yd2{bottom:157.902400px;}
.y20{bottom:159.754700px;}
.y47{bottom:161.325200px;}
.yc8{bottom:164.340800px;}
.y61{bottom:167.701100px;}
.y9f{bottom:170.842000px;}
.yd1{bottom:173.920400px;}
.y1f{bottom:175.772700px;}
.y80{bottom:177.280500px;}
.yc7{bottom:180.358800px;}
.y60{bottom:183.719100px;}
.y9e{bottom:186.860000px;}
.y46{bottom:190.157600px;}
.y1e{bottom:191.790700px;}
.y7f{bottom:193.298500px;}
.yc6{bottom:196.376800px;}
.y5f{bottom:199.737100px;}
.y9d{bottom:202.878000px;}
.y45{bottom:206.175600px;}
.y1d{bottom:207.808700px;}
.y7e{bottom:209.316500px;}
.yc5{bottom:212.394800px;}
.y5e{bottom:215.755100px;}
.y9c{bottom:218.896000px;}
.y44{bottom:222.193600px;}
.y1c{bottom:223.826700px;}
.y7d{bottom:225.334500px;}
.yc4{bottom:228.412800px;}
.y5d{bottom:231.773100px;}
.y9b{bottom:234.914000px;}
.y43{bottom:238.211600px;}
.y1b{bottom:239.844700px;}
.y7c{bottom:241.352500px;}
.yc3{bottom:244.430800px;}
.y5c{bottom:247.791100px;}
.yde{bottom:250.712500px;}
.y42{bottom:254.229600px;}
.y1a{bottom:255.862700px;}
.y7b{bottom:257.370500px;}
.yc2{bottom:260.448800px;}
.y5b{bottom:263.809100px;}
.ye3{bottom:266.699200px;}
.y41{bottom:270.247600px;}
.y7a{bottom:273.388500px;}
.ybe{bottom:276.498100px;}
.y9a{bottom:279.764400px;}
.ye2{bottom:282.717200px;}
.y19{bottom:284.695100px;}
.yb6{bottom:286.140100px;}
.y79{bottom:289.406500px;}
.y5a{bottom:292.641500px;}
.y99{bottom:295.782400px;}
.y40{bottom:299.080000px;}
.y18{bottom:300.713100px;}
.yb5{bottom:302.158100px;}
.y78{bottom:305.424500px;}
.y59{bottom:308.659500px;}
.y98{bottom:311.800400px;}
.y3f{bottom:315.098000px;}
.y17{bottom:316.731100px;}
.yb4{bottom:318.176100px;}
.ybd{bottom:321.348500px;}
.ydd{bottom:324.395300px;}
.y97{bottom:327.818400px;}
.y3e{bottom:331.116000px;}
.y16{bottom:332.749100px;}
.y77{bottom:334.256900px;}
.y58{bottom:337.491900px;}
.ye6{bottom:340.350300px;}
.yd0{bottom:343.711200px;}
.y3d{bottom:347.134000px;}
.y15{bottom:348.767100px;}
.y76{bottom:350.274900px;}
.yc1{bottom:353.353200px;}
.y96{bottom:356.650800px;}
.ycf{bottom:359.729200px;}
.y3c{bottom:363.152000px;}
.y14{bottom:364.785100px;}
.y57{bottom:366.324300px;}
.yc0{bottom:369.371200px;}
.y95{bottom:372.668800px;}
.yb3{bottom:375.840900px;}
.y3b{bottom:379.170000px;}
.y13{bottom:380.803100px;}
.y56{bottom:382.342300px;}
.ybf{bottom:385.389200px;}
.y94{bottom:388.686800px;}
.yb2{bottom:391.858900px;}
.y3a{bottom:395.188000px;}
.y12{bottom:396.821100px;}
.y75{bottom:398.328900px;}
.ye5{bottom:401.218700px;}
.y93{bottom:404.704800px;}
.yb1{bottom:407.876900px;}
.y39{bottom:411.206000px;}
.y74{bottom:414.346900px;}
.ye4{bottom:417.236700px;}
.y92{bottom:420.722800px;}
.yb0{bottom:423.894900px;}
.y38{bottom:427.224000px;}
.y11{bottom:428.857100px;}
.y73{bottom:430.364900px;}
.y91{bottom:436.740800px;}
.yaf{bottom:439.912900px;}
.y37{bottom:443.242000px;}
.ybc{bottom:446.288900px;}
.ydc{bottom:452.570600px;}
.yae{bottom:455.930900px;}
.y36{bottom:459.260000px;}
.y10{bottom:461.694000px;}
.ybb{bottom:462.306900px;}
.y90{bottom:465.573200px;}
.ydb{bottom:468.588600px;}
.yad{bottom:471.948900px;}
.y35{bottom:475.278000px;}
.yba{bottom:478.324900px;}
.y8f{bottom:481.591200px;}
.yda{bottom:484.606600px;}
.y72{bottom:488.029700px;}
.y34{bottom:491.296000px;}
.yf{bottom:494.530900px;}
.y8e{bottom:497.609200px;}
.yd9{bottom:500.624600px;}
.y71{bottom:504.047700px;}
.y33{bottom:507.314000px;}
.ye{bottom:510.548900px;}
.y8d{bottom:513.627200px;}
.yd8{bottom:516.642600px;}
.y70{bottom:520.065700px;}
.y55{bottom:523.300700px;}
.yd{bottom:526.566900px;}
.y8c{bottom:529.645200px;}
.yac{bottom:532.817300px;}
.y32{bottom:536.146400px;}
.yb9{bottom:539.193300px;}
.yc{bottom:542.584900px;}
.y8b{bottom:545.663200px;}
.y6f{bottom:548.898100px;}
.y31{bottom:552.164400px;}
.yb8{bottom:555.211300px;}
.y8a{bottom:561.681200px;}
.y6e{bottom:564.916100px;}
.y30{bottom:568.182400px;}
.yb{bottom:571.417300px;}
.y89{bottom:577.699200px;}
.y6d{bottom:580.934100px;}
.y54{bottom:584.169100px;}
.ya{bottom:587.435300px;}
.y88{bottom:593.717200px;}
.y2f{bottom:597.014800px;}
.y53{bottom:600.187100px;}
.y9{bottom:603.453300px;}
.y87{bottom:609.735200px;}
.y6c{bottom:612.970100px;}
.y52{bottom:616.205100px;}
.yb7{bottom:619.283300px;}
.y2e{bottom:625.847200px;}
.y6b{bottom:628.988100px;}
.y8{bottom:632.285700px;}
.y2d{bottom:641.865200px;}
.yab{bottom:644.943300px;}
.y7{bottom:648.303700px;}
.y2c{bottom:657.883200px;}
.y51{bottom:661.055500px;}
.y6{bottom:664.321700px;}
.y2b{bottom:673.901200px;}
.yaa{bottom:676.979300px;}
.y5{bottom:680.339700px;}
.y2a{bottom:689.919200px;}
.ya9{bottom:692.997300px;}
.y29{bottom:705.937200px;}
.y4{bottom:709.172100px;}
.y28{bottom:721.955200px;}
.y1{bottom:770.000000px;}
.h1{height:24.312500px;}
.h3{height:35.615022px;}
.h4{height:41.252607px;}
.h2{height:734.000000px;}
.h0{height:792.000000px;}
.w1{width:555.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:6.407200px;}
.x1{left:26.000000px;}
.x2{left:29.000000px;}
.x4{left:70.479200px;}
.x5{left:102.515200px;}
.x6{left:134.551200px;}
.x7{left:166.587200px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{display:inline;margin-left:-4.119379pt;}
._1{display:inline;margin-left:-1.437504pt;}
._0{display:inline-block;width:2.291661pt;}
._2{display:inline-block;width:983.520832pt;}
._5{display:inline-block;width:1743.681969pt;}
._3{display:inline-block;width:1769.104265pt;}
.fs0{font-size:42.666667pt;}
.fs1{font-size:68.343467pt;}
.fs2{font-size:81.157867pt;}
.y0{bottom:0.000000pt;}
.y50{bottom:5.798400pt;}
.yce{bottom:9.819200pt;}
.y6a{bottom:14.299600pt;}
.ya8{bottom:18.487467pt;}
.y2{bottom:22.666667pt;}
.y4f{bottom:27.155733pt;}
.y27{bottom:29.333200pt;}
.ycd{bottom:31.176533pt;}
.y69{bottom:35.656933pt;}
.y3{bottom:38.666667pt;}
.ya7{bottom:39.844800pt;}
.yd6{bottom:43.949333pt;}
.y4e{bottom:48.513067pt;}
.y26{bottom:50.690533pt;}
.ycc{bottom:52.533867pt;}
.y68{bottom:57.014267pt;}
.ya6{bottom:61.202133pt;}
.yd5{bottom:65.306667pt;}
.y86{bottom:69.786800pt;}
.y25{bottom:72.047867pt;}
.ycb{bottom:73.891200pt;}
.y67{bottom:78.371600pt;}
.ya5{bottom:82.559467pt;}
.y4d{bottom:86.956267pt;}
.y85{bottom:91.144133pt;}
.y24{bottom:93.405200pt;}
.yca{bottom:95.248533pt;}
.y66{bottom:99.728933pt;}
.ye1{bottom:103.624133pt;}
.y4c{bottom:108.313600pt;}
.y84{bottom:112.501467pt;}
.y23{bottom:114.762533pt;}
.yc9{bottom:116.605867pt;}
.ya4{bottom:121.002667pt;}
.ye0{bottom:124.981467pt;}
.y4b{bottom:129.670933pt;}
.y83{bottom:133.858800pt;}
.y22{bottom:136.119867pt;}
.y65{bottom:138.172133pt;}
.ya3{bottom:142.360000pt;}
.ydf{bottom:146.338800pt;}
.y4a{bottom:151.028267pt;}
.y82{bottom:155.216133pt;}
.y64{bottom:159.529467pt;}
.ya2{bottom:163.717333pt;}
.yd4{bottom:167.821867pt;}
.y49{bottom:172.385600pt;}
.y21{bottom:174.563067pt;}
.y81{bottom:176.573467pt;}
.y63{bottom:180.886800pt;}
.ya1{bottom:185.074667pt;}
.yd3{bottom:189.179200pt;}
.y48{bottom:193.742933pt;}
.yd7{bottom:197.680400pt;}
.y62{bottom:202.244133pt;}
.ya0{bottom:206.432000pt;}
.yd2{bottom:210.536533pt;}
.y20{bottom:213.006267pt;}
.y47{bottom:215.100267pt;}
.yc8{bottom:219.121067pt;}
.y61{bottom:223.601467pt;}
.y9f{bottom:227.789333pt;}
.yd1{bottom:231.893867pt;}
.y1f{bottom:234.363600pt;}
.y80{bottom:236.374000pt;}
.yc7{bottom:240.478400pt;}
.y60{bottom:244.958800pt;}
.y9e{bottom:249.146667pt;}
.y46{bottom:253.543467pt;}
.y1e{bottom:255.720933pt;}
.y7f{bottom:257.731333pt;}
.yc6{bottom:261.835733pt;}
.y5f{bottom:266.316133pt;}
.y9d{bottom:270.504000pt;}
.y45{bottom:274.900800pt;}
.y1d{bottom:277.078267pt;}
.y7e{bottom:279.088667pt;}
.yc5{bottom:283.193067pt;}
.y5e{bottom:287.673467pt;}
.y9c{bottom:291.861333pt;}
.y44{bottom:296.258133pt;}
.y1c{bottom:298.435600pt;}
.y7d{bottom:300.446000pt;}
.yc4{bottom:304.550400pt;}
.y5d{bottom:309.030800pt;}
.y9b{bottom:313.218667pt;}
.y43{bottom:317.615467pt;}
.y1b{bottom:319.792933pt;}
.y7c{bottom:321.803333pt;}
.yc3{bottom:325.907733pt;}
.y5c{bottom:330.388133pt;}
.yde{bottom:334.283333pt;}
.y42{bottom:338.972800pt;}
.y1a{bottom:341.150267pt;}
.y7b{bottom:343.160667pt;}
.yc2{bottom:347.265067pt;}
.y5b{bottom:351.745467pt;}
.ye3{bottom:355.598933pt;}
.y41{bottom:360.330133pt;}
.y7a{bottom:364.518000pt;}
.ybe{bottom:368.664133pt;}
.y9a{bottom:373.019200pt;}
.ye2{bottom:376.956267pt;}
.y19{bottom:379.593467pt;}
.yb6{bottom:381.520133pt;}
.y79{bottom:385.875333pt;}
.y5a{bottom:390.188667pt;}
.y99{bottom:394.376533pt;}
.y40{bottom:398.773333pt;}
.y18{bottom:400.950800pt;}
.yb5{bottom:402.877467pt;}
.y78{bottom:407.232667pt;}
.y59{bottom:411.546000pt;}
.y98{bottom:415.733867pt;}
.y3f{bottom:420.130667pt;}
.y17{bottom:422.308133pt;}
.yb4{bottom:424.234800pt;}
.ybd{bottom:428.464667pt;}
.ydd{bottom:432.527067pt;}
.y97{bottom:437.091200pt;}
.y3e{bottom:441.488000pt;}
.y16{bottom:443.665467pt;}
.y77{bottom:445.675867pt;}
.y58{bottom:449.989200pt;}
.ye6{bottom:453.800400pt;}
.yd0{bottom:458.281600pt;}
.y3d{bottom:462.845333pt;}
.y15{bottom:465.022800pt;}
.y76{bottom:467.033200pt;}
.yc1{bottom:471.137600pt;}
.y96{bottom:475.534400pt;}
.ycf{bottom:479.638933pt;}
.y3c{bottom:484.202667pt;}
.y14{bottom:486.380133pt;}
.y57{bottom:488.432400pt;}
.yc0{bottom:492.494933pt;}
.y95{bottom:496.891733pt;}
.yb3{bottom:501.121200pt;}
.y3b{bottom:505.560000pt;}
.y13{bottom:507.737467pt;}
.y56{bottom:509.789733pt;}
.ybf{bottom:513.852267pt;}
.y94{bottom:518.249067pt;}
.yb2{bottom:522.478533pt;}
.y3a{bottom:526.917333pt;}
.y12{bottom:529.094800pt;}
.y75{bottom:531.105200pt;}
.ye5{bottom:534.958267pt;}
.y93{bottom:539.606400pt;}
.yb1{bottom:543.835867pt;}
.y39{bottom:548.274667pt;}
.y74{bottom:552.462533pt;}
.ye4{bottom:556.315600pt;}
.y92{bottom:560.963733pt;}
.yb0{bottom:565.193200pt;}
.y38{bottom:569.632000pt;}
.y11{bottom:571.809467pt;}
.y73{bottom:573.819867pt;}
.y91{bottom:582.321067pt;}
.yaf{bottom:586.550533pt;}
.y37{bottom:590.989333pt;}
.ybc{bottom:595.051867pt;}
.ydc{bottom:603.427467pt;}
.yae{bottom:607.907867pt;}
.y36{bottom:612.346667pt;}
.y10{bottom:615.592000pt;}
.ybb{bottom:616.409200pt;}
.y90{bottom:620.764267pt;}
.ydb{bottom:624.784800pt;}
.yad{bottom:629.265200pt;}
.y35{bottom:633.704000pt;}
.yba{bottom:637.766533pt;}
.y8f{bottom:642.121600pt;}
.yda{bottom:646.142133pt;}
.y72{bottom:650.706267pt;}
.y34{bottom:655.061333pt;}
.yf{bottom:659.374533pt;}
.y8e{bottom:663.478933pt;}
.yd9{bottom:667.499467pt;}
.y71{bottom:672.063600pt;}
.y33{bottom:676.418667pt;}
.ye{bottom:680.731867pt;}
.y8d{bottom:684.836267pt;}
.yd8{bottom:688.856800pt;}
.y70{bottom:693.420933pt;}
.y55{bottom:697.734267pt;}
.yd{bottom:702.089200pt;}
.y8c{bottom:706.193600pt;}
.yac{bottom:710.423067pt;}
.y32{bottom:714.861867pt;}
.yb9{bottom:718.924400pt;}
.yc{bottom:723.446533pt;}
.y8b{bottom:727.550933pt;}
.y6f{bottom:731.864133pt;}
.y31{bottom:736.219200pt;}
.yb8{bottom:740.281733pt;}
.y8a{bottom:748.908267pt;}
.y6e{bottom:753.221467pt;}
.y30{bottom:757.576533pt;}
.yb{bottom:761.889733pt;}
.y89{bottom:770.265600pt;}
.y6d{bottom:774.578800pt;}
.y54{bottom:778.892133pt;}
.ya{bottom:783.247067pt;}
.y88{bottom:791.622933pt;}
.y2f{bottom:796.019733pt;}
.y53{bottom:800.249467pt;}
.y9{bottom:804.604400pt;}
.y87{bottom:812.980267pt;}
.y6c{bottom:817.293467pt;}
.y52{bottom:821.606800pt;}
.yb7{bottom:825.711067pt;}
.y2e{bottom:834.462933pt;}
.y6b{bottom:838.650800pt;}
.y8{bottom:843.047600pt;}
.y2d{bottom:855.820267pt;}
.yab{bottom:859.924400pt;}
.y7{bottom:864.404933pt;}
.y2c{bottom:877.177600pt;}
.y51{bottom:881.407333pt;}
.y6{bottom:885.762267pt;}
.y2b{bottom:898.534933pt;}
.yaa{bottom:902.639067pt;}
.y5{bottom:907.119600pt;}
.y2a{bottom:919.892267pt;}
.ya9{bottom:923.996400pt;}
.y29{bottom:941.249600pt;}
.y4{bottom:945.562800pt;}
.y28{bottom:962.606933pt;}
.y1{bottom:1026.666667pt;}
.h1{height:32.416667pt;}
.h3{height:47.486696pt;}
.h4{height:55.003476pt;}
.h2{height:978.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:740.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:8.542933pt;}
.x1{left:34.666667pt;}
.x2{left:38.666667pt;}
.x4{left:93.972267pt;}
.x5{left:136.686933pt;}
.x6{left:179.401600pt;}
.x7{left:222.116267pt;}
}
